<footer>
    <div class="footer-superior">
        <div class="contenedorSobreNos">
            <a>Sobre Nosotros:</a>
            <p>GamerCave es una pequeña empresa que se dedica a vender componentes de computadora de alta gama. Nuestro objetivo es el de ofrecer productos destinados a la minería de criptomonedas y al gaming, a precios accesibles </p>

        </div>
        <div class="contenedorInfoL">
            <p class="informacionLegal">Información Legal</p>
            <ul class="lista-info-legal">
                <li>Confguración de cookies</li>
                <li>Terminos y condiciones</li>
                <li>Políticas de privacidad</li>
            </ul>
        </div>
        <div class="contenedorContacto">
            <p class="contactanos">Contactanos en:</p>

            <ul class="lista-contactanos">
                <li><a href="#"><i class="fab fa-instagram "></i> Instagram</a></li>
                <li><a href="#"><i class="fas fa-envelope "></i> E-mail</a></li>
                <li><a href="#"><i class="fab fa-facebook-f "></i> Facebook</a></li>
                <li><a href="#"><i class="fas fa-phone-alt "></i> tel</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-inferior">
        <div class="derechos-reservados">
            <p><i class="far fa-copyright"></i> 2021 Todos los Derechos Reservados|<a href="/">Gamer Cave</a></p>
        </div>
        <div class="ayuda-sobrenos">
            <p><a href="#">Ayuda</a><a>|</a><a href="#">Sobre Nosotros</a></p>
        </div>

    </div>
    <style>
        footer {
            bottom: 0px;
            width: 100%;
            font-family: 'Noto Sans', sans-serif;
            background-color: #8598e5;
        }
        
        .footer-superior {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            color: #E5E5E5;
            padding: 20px;
        }
        
        .contenedorSobreNos {
            padding-top: 5px;
            padding-left: 10px;
            padding-bottom: 10px;
            ;
        }
        
        .contenedorInfoL {
            text-decoration: none;
            font-style: normal;
            margin-bottom: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .informacionLegal {
            margin-bottom: 10px;
        }
        
        .lista-info-legal {
            list-style: none;
        }
        
        .lista-info-legal li {
            margin-top: 5px;
        }
        
        .contenedorContacto {
            text-decoration: none;
            font-style: normal;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .lista-contactanos {
            list-style: none;
        }
        
        .lista-contactanos li {
            margin-top: 5px;
        }
        
        .lista-contactanos li a {
            text-decoration: none;
            color: #E5E5E5;
        }
        
        .footer-inferior {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            padding: 10px 20px;
        }
        
        .derechos-reservados {
            display: flex;
            flex-direction: row;
            color: #E5E5E5;
            margin-top: 5px;
        }
        
        .footer-inferior p a {
            color: #E5E5E5;
            text-decoration: none;
        }
        
        @media (min-width: 769px) {
            .footer-superior {
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;
            }
            .footer-inferior {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
    </style>
</footer>