<footer>
    <link rel="stylesheet" href="../css/partials/style-footer.css">
    <div class="footer-superior">
        <div class="contenedorInfoL">
            <p class="informacionLegal">Información Legal</p>
            <ul class="lista-info-legal">
                <li>Confguración de cookies</li>
                <li>Terminos y condiciones</li>
                <li>Políticas de privacidad</li>
            </ul>
        </div>
        <div class="contenedorContacto">
            <p class="contactanos">Contactanos en:</p>

            <ul class="lista-contactanos">
                <li><a href="#"><i class="fab fa-instagram "></i> Instagram</a></li>
                <li><a href="#"><i class="fas fa-envelope "></i> E-mail</a></li>
                <li><a href="#"><i class="fab fa-facebook-f "></i> Facebook</a></li>
                <li><a href="#"><i class="fas fa-phone-alt "></i> tel</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-inferior">
        <div class="derechos-reservados">
            <p><i class="far fa-copyright"></i> 2021 Todos los Derechos Reservados|<a href="/">Gamer Cave</a></p>
        </div>
        <div class="ayuda-sobrenos">
            <p><a href="#">Ayuda</a><a>|</a><a href="#">Sobre Nosotros</a></p>
        </div>

    </div>

</footer>