<footer>
    <div class="footer-superior">


        <div class="container-logo-footer">
            <img src="/images/logos/logoGamerCaveLetrasOscuras.png" alt="Logo de Gamer Cave" class="logo-footer"> GamerCave es una pequeña empresa que se dedica a vender componentes de computadora de alta gama. Nuestro objetivo es el de ofrecer productos
            destinados a la minería de criptomonedas y al gaming, a precios accesibles, en pocas cuotas y al menor interés
        </div>




        <div class="contenedorListaFooter">
            <p class="tituloFooter">Información Legal</p>
            <ul class="listaFooter">
                <li class="contenidoListaFooter">Confguración de cookies</li>
                <li class="contenidoListaFooter">Terminos y condiciones</li>
                <li class="contenidoListaFooter">Políticas de privacidad</li>
            </ul>
        </div>
        <div class="contenedorRedesContacto">
            <div class="contenedorListaFooter">
                <p class="tituloFooter">Seguinos en nuestras redes</p>
                <ul class="listaFooter">
                    <li class="contenidoListaFooter"><a class="contenidoListaFooter" href="#"><i class="fab fa-instagram icono-footer"></i> Instagram</a></li>
                    <li class="contenidoListaFooter"><a class="contenidoListaFooter" href="#"><i class="fab fa-facebook-f icono-footer"></i> Facebook</a></li>
                </ul>
            </div>

            <div class="contenedorListaFooter">
                <p class="tituloFooter">Contacto:</p>
                <ul class="listaFooter">
                    <li class="contenidoListaFooter"><a class="contenidoListaFooter" href="#"><i class="fas fa-envelope icono-footer"></i> E-mail</a></li>
                    <li class="contenidoListaFooter"><a class="contenidoListaFooter" href="#"><i class="fas fa-phone-alt icono-footer"></i> tel</a></li>
                    <li class="contenidoListaFooter"><a class="contenidoListaFooter" href="#"><i class="fas fa-home icono-footer"></i> Chascomus, Buenos Aires, Argentina </a></li>
                </ul>
            </div>
        </div>


    </div>
    <div class="footer-inferior">
        <div class="derechos-reservados">
            <p><i class="far fa-copyright"></i> 2021 Todos los Derechos Reservados|<a href="/">Gamer Cave</a></p>
        </div>
        <div class="ayuda-sobrenos">
            <p><a href="#">Ayuda</a><a>|</a><a href="#">Sobre Nosotros</a></p>
        </div>

    </div>
    <style>
        footer {
            bottom: 0px;
            width: 100%;
            font-family: 'Noto Sans', sans-serif;
            background-color: #acafb7
        }
        
        .footer-superior {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            color: #E5E5E5;
            padding: 20px;
        }
        
        .container-logo-footer {
            text-align: justify;
            padding: 20px;
            margin-bottom: 20px;
            font-family: 'Noto Sans', sans-serif;
            width: 100%;
            max-width: 460px;
        }
        
        .logo-footer {
            width: 100px;
            float: left;
            padding-right: 10px;
            padding-bottom: 10px;
        }
        
        .contenedorListaFooter {
            margin-bottom: 20px;
            width: 85%;
            max-width: 272px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 20px;
            border-bottom: solid 2px black;
        }
        
        .tituloFooter {
            font-family: 'Noto Sans', sans-serif;
            font-size: 20px;
            margin-bottom: 5px;
            font-weight: bold;
        }
        
        .listaFooter {
            list-style: none;
            display: flex;
            flex-direction: column;
        }
        
        .contenidoListaFooter {
            font-family: 'Noto Sans', sans-serif;
            font-size: 15px;
            text-decoration: none;
            color: white;
            margin-top: 2px;
            margin-bottom: 2px;
            cursor: pointer;
        }
        
        .icono-footer {
            color: #120907e8;
            font-size: 1.1em;
        }
        
        .contenedorRedesContacto {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .footer-inferior {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            padding: 10px 20px;
            background-color: black;
        }
        
        .derechos-reservados {
            display: flex;
            flex-direction: row;
            color: #E5E5E5;
            margin-top: 5px;
            font-family: 'Noto Sans', sans-serif;
        }
        
        .footer-inferior p a {
            color: #E5E5E5;
            text-decoration: none;
            font-family: 'Noto Sans', sans-serif;
        }
        
        @media (min-width: 769px) {
            .footer-superior {
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;
            }
            .contenedorListaFooter {
                border-bottom: none;
                padding-top: 15px;
                border-top: solid 2px black;
            }
            .footer-inferior {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
        
        @media (min-width: 1000px) {
            .container-logo-footer {
                width: 330px;
            }
            .contenedorListaFooter {
                width: 272px;
            }
            .contenedorRedesContacto {
                width: max-content;
            }
        }
        
        @media (min-width: 1280px) {
            .contenedorRedesContacto {
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                width: 43%;
            }
        }
    </style>
</footer>