<script src="../js/header.js" defer></script>
<link rel="stylesheet" href="../css/partials/style-header.css">

<header>
    <nav class="menu-top">
        <div class="container-logo">
            <a href="/"><img src="/images/logoGamerCave.png" alt="Logo de Gamer Cave" class="logo"></a>
        </div>
        <div class="container-search">
            <form action="" class="container-input-i">
                <button type="submit"><i class="fas fa-search"></i></button>
                <input type="text" placeholder="Buscar">
            </form>
        </div>
        <ul class="menu-items" id="otro-modo">
            <li><a href="/products/productCart"><i class="icono-nav-bar fas fa-shopping-cart"></i> Carrito</a></li>
            <li><a href="/users/login"><i class="icono-nav-bar fas fa-sign-in-alt"></i> Iniciar Sesión</a></li>
            <li><a href="/users/register"><i class="icono-nav-bar far fa-address-card"></i> Registrarse</a></li>
        </ul>
        <span class="btn-menu" onclick="showmenu()">
            <i id="otro-modo" class="fa fa-bars"></i>
        </span>
    </nav>
</header>