<header>
    <nav class="menu-top">
        <div class="container-logo">
            <a href="/"><img src="/images/logos/logoGamerCaveLetrasOscuras.png" alt="Logo de Gamer Cave" class="logo"></a>
        </div>
        <div class="container-search">
            <form action="/search" method="GET" class="container-input-i">
                <button type="submit"><i class="fas fa-search"></i></button>
                <input type="text" placeholder="Buscar">
            </form>
        </div>


        <% if(locals.user) { %>

            <li><a href="/users/logout">Cerrar sesión<i class="icono-nav-bar far fa-address-card"></i></a></li>

            <li class="nav-bar-account">
                <img src="/images/users/<%=locals.user.img_user%>" width='30' style='border-radius: 100%;' alt="">
            </li>
            <% } else { %>

                <!--Cuando no estoy logueado debería ver esto-->
                <ul class="nav-bar-account" id="otro-modo">
                    <li><a href="/users/login"><i class="icono-nav-bar fas fa-sign-in-alt"></i> Iniciar Sesión</a></li>
                    <li><a href="/users/register"><i class="icono-nav-bar far fa-address-card"></i> Registrarse</a></li>
                </ul>
                <%}%>


                    <span class="btn-menu" onclick="showmenu()">
            <i  class="fa fa-bars"></i>
        </span>
    </nav>
    <nav class="menu-bootom">
        <ul class="nav-bar-site" id="otro-modo2">
            <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/products/cart"><i class="icono-nav-bar fas fa-shopping-cart"></i> Carrito</a></li>
            <li><a href="/admin">Administrar</a></li>
        </ul>
    </nav>








    <style>
        header {
            width: 100vw;
            position: fixed;
            top: 0px;
            z-index: 1;
        }
        
        .menu-top {
            width: 100%;
            display: flex;
            align-items: center;
            height: 60px;
            background-color: #8598e5;
        }
        
        .container-logo {
            display: flex;
            align-items: center;
            margin-left: 10px;
            margin-right: 10px;
            max-width: 80px;
            border-radius: 10px;
        }
        
        .logo {
            width: 100%;
        }
        
        .container-search {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
        }
        
        .container-input-i {
            display: flex;
            text-align: left;
            justify-content: flex-end;
            border-radius: 5px;
            position: relative;
            width: 90%;
        }
        
        .container-input-i input {
            width: 100%;
            border: none;
            padding: 10px;
            border-radius: 5px;
            background-color: #E5E5E5;
        }
        
        .container-input-i button {
            border: none;
            background-color: #E5E5E5;
            position: absolute;
            margin-top: 10px;
            margin-right: 4px;
            padding-right: 5px;
        }
        
        .container-input-i button i {
            color: #140f07;
        }
        
        .nav-bar-account {
            list-style: none;
            display: flex;
            flex-direction: column;
            position: fixed;
            width: 100vw;
            background-color: #120907e8;
            top: -100vh;
            text-align: center;
            transition: all 0.4s;
            margin-right: 60px;
            z-index: 2;
        }
        
        .nav-bar-account li {
            width: 100%;
            text-align: center;
            border-bottom: solid 3px #4f5d9c;
            padding: 0px 10px;
        }
        
        .nav-bar-account li a {
            text-decoration: none;
            display: block;
            font-family: 'Noto Sans', sans-serif;
            font-size: 20px;
            color: white;
            padding: 30px;
            transition: color 0.5s;
        }
        
        .nav-bar-account li a:hover {
            color: #4f5d9c;
            transition-duration: 0.5s;
        }
        
        .nav-bar-account li a i {
            color: white;
        }
        
        .btn-menu {
            justify-content: center;
            cursor: pointer;
            display: inline-flex;
            color: #E5E5E5;
            font-size: 20px;
            width: 20%;
        }
        
        .menu-bootom {
            background-color: #8598e5;
        }
        
        .nav-bar-site {
            list-style: none;
            display: flex;
            flex-direction: column;
            position: fixed;
            width: 100vw;
            background-color: #120907e8;
            top: -100vh;
            text-align: center;
            transition: all 0.4s;
            margin-right: 60px;
            z-index: 2;
        }
        
        .nav-bar-site li {
            width: 100%;
            text-align: center;
            border-bottom: solid 3px #4f5d9c;
            padding: 0px 10px;
        }
        
        .nav-bar-site li a {
            text-decoration: none;
            display: block;
            font-family: 'Noto Sans', sans-serif;
            font-size: 20px;
            color: white;
            padding: 30px;
            transition: color 0.5s;
        }
        
        .nav-bar-site li a:hover {
            color: #4f5d9c;
            transition-duration: 0.5s;
        }
        
        .nav-bar-site li a i {
            color: white;
        }
        
        .show {
            top: 318px;
        }
        
        .show2 {
            top: 60px;
        }
        
        @media (min-width: 769px) {
            .menu-top {
                justify-content: space-between;
                padding-left: 25px;
                padding-right: 25px;
            }
            .container-search {
                width: 100%;
            }
            .nav-bar-account {
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                position: static;
                width: max-content;
                max-width: 370px;
                background: none;
                top: initial;
                margin-right: 0px;
                z-index: initial;
            }
            .nav-bar-account li {
                transition: all .5s;
                border-bottom: none;
                width: 160px;
            }
            .nav-bar-account li a {
                width: 100%;
                font-size: 12px;
                padding: 12px 8px;
                margin: 0px 5px 0px 5px;
                transition: all .5s;
                background-color: #140f07;
                border-radius: 10px;
            }
            .nav-bar-account li a:hover {
                color: white;
            }
            .btn-menu {
                display: none;
            }
            .menu-bootom {
                border-top: solid 4px #140f07;
            }
            .nav-bar-site {
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                position: static;
                width: 400px;
                background: none;
                top: initial;
                z-index: initial;
                margin-left: 8%;
            }
            .nav-bar-site li {
                transition: all .5s;
                border-bottom: none;
                width: 120px;
            }
            .nav-bar-site li a {
                width: 100%;
                font-size: 12px;
                padding: 10px 0px;
                margin: 0px 5px;
                transition: all .5s;
            }
            .nav-bar-site li a:hover {
                border-color: white;
                color: white;
            }
        }
    </style>
    <script>
        function showmenu() {
            document.getElementById('otro-modo').classList.toggle('show');
            document.getElementById('otro-modo2').classList.toggle('show2');
        }
    </script>
</header>