<link rel="stylesheet" href="../css/partials/style-productItem.css">
<a class="container-article" href="/products/productDetail">
    <article class="article">
        <img src="/images/placa-video.jpg " alt="">
        <div class="container-info">
            <p class="nombre-producto">Nombre</p>
            <p class="precio-producto">$10.000</p>
        </div>
    </article>
</a>