<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamer Cave</title>
    <link rel="icon" href="/images/logoGamerCave-icono.png">
    <link rel="stylesheet" href="/css/style-index.css">
    <script src="https://kit.fontawesome.com/fa2dfd92f3.js" crossorigin="anonymous"></script>
    <script src="/js/index.js" defer></script>
</head>

<body>
    <header>
        <nav class="menu-top">
            <div class="container-logo">
                <a href="/"><img src="/images/logoGamerCave.png" alt="Logo de Gamer Cave" class="logo"></a>
            </div>
            <div class="container-search">
                <form action="" class="container-input-i">
                    <button type="submit"><i class="fas fa-search"></i></button>
                    <input type="text" placeholder="Buscar">
                </form>
            </div>
            <ul class="menu-items" id="otro-modo">
                <li><a href="/productCart"><i class="icono-nav-bar fas fa-shopping-cart"></i> Carrito</a></li>
                <li><a href="/login"><i class="icono-nav-bar fas fa-sign-in-alt"></i> Iniciar Seción</a></li>
                <li><a href="/register"><i class="icono-nav-bar far fa-address-card"></i> Registrarse</a></li>
            </ul>
            <span class="btn-menu" onclick="showmenu()">
                <i id="otro-modo" class="fa fa-bars"></i>
            </span>
        </nav>
    </header>

    <main>

        <!--<section class="container-slide">
            <div class="slideshow-container">
                <div class="mySlides container-banner">
                    <h3>Sponsor oficial de G2 Esports y el Vaticano</h3>
                </div>

                <div class="mySlides container-banner">
                    <h3>Las granjas de minería de criptomonedas más grandes de América compran en Gamer Cave, que esperas vos?</h3>
                </div>


                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>


        </section>-->


        <div class="container-productos-filtro">
            <aside>
                <span class="btn-filtro" onclick="showfiltro(), rotateflecha()">
                    <p>Categorias</p><i id="girar-flecha" class="fas fa-angle-right"></i>
                </span>
                <div class="filtro" id="mostrar-filtro">
                    <ul class="list-filter">
                        <div class="ocultar-close"><i onclick="showfiltro(), rotateflecha()" class="close fas fa-times"></i></div>
                        <li><a href="#">Placas de video</a></li>
                        <li><a href="#">Memorias Ram</a></li>
                        <li><a href="#">Monitores</a></li>
                        <li><a href="#">Coolers</a></li>
                        <li><a href="#">Fuentes</a></li>
                        <li><a href="#">Mhoters</a></li>
                        <li><a href="#">Procesadores</a></li>
                        <li><a href="#">Discos Rigidos</a></li>
                        <li><a href="#">Mouses</a></li>
                        <li><a href="#">Teclados</a></li>
                        <li><a href="#">Auriculares</a></li>
                    </ul>
                </div>
            </aside>
            <section class="container-productos">
                <h4 class="titulares-productos">Productos Destacados</h4>
                <div class="container-article">
                    <a href="#">
                        <article class="article">
                            <p>categoria</p>
                            <img src="/images/placa-video.jpg" alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article class="article">
                            <p>categoria</p>
                            <img src="/images/placa-video.jpg" alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article class="article">
                            <p>categoria</p>
                            <img src="/images/placa-video.jpg" alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article class="article">
                            <p>categoria</p>
                            <img src="/images/placa-video.jpg" alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article class="article">
                            <p>categoria</p>
                            <img src="/images/placa-video.jpg" alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article class="article">
                            <p>categoria</p>
                            <img src="/images/placa-video.jpg" alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article class="article">
                            <p>categoria</p>
                            <img src="/images/placa-video.jpg" alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article class="article">
                            <p>categoria</p>
                            <img src="/images/placa-video.jpg" alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>

                </div>



                <h4 class="titulares-productos">Especiales para minar criptomonedas</h4>
                <div class="container-article">
                    <a href="#">
                        <article class="article">
                            <p>categoria</p>
                            <img src="/images/placa-video.jpg" alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article class="article">
                            <p>categoria</p>
                            <img src="/images/placa-video.jpg" alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article class="article">
                            <p>categoria</p>
                            <img src="/images/placa-video.jpg" alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article class="article">
                            <p>categoria</p>
                            <img src="/images/placa-video.jpg" alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>

                </div>
            </section>

        </div>

    </main>
    <footer>
        <div class="contenedorFooter">
            <div class="contenedorInfoL">
                <p class="InformaciónLegal">Información Legal</p>
                <br>
                <ul>
                    <li>Confguración de cookies</li>
                    <li>Terminos y condiciones</li>
                    <li>Políticas de privacidad</li>
                </ul>
            </div>
            <div class="contenedorContacto">
                <p class="contactanos">Contactanos en:</p>
                <br>
                <ul class="lista-contactanos">
                    <li class="icono-contacto"><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li class="icono-contacto"><a href="#"><i class="fas fa-envelope"></i> E-mail</a></li>
                    <li class="icono-contacto"><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li class="icono-contacto"><a href="#"><i class="fas fa-phone-alt"></i> tel</a></li>
                </ul>
            </div>
        </div>






    </footer>

</body>

</html>