<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamer Cave</title>
    <link rel="icon" href="/images/logos/logoGamerCave-icono.png">
    <link rel="stylesheet" href="/css/style-index.css">
    <script src="https://kit.fontawesome.com/fa2dfd92f3.js" crossorigin="anonymous"></script>
    <script src="/js/index.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap" rel=" stylesheet">
</head>

<body>
    <%- include('./partials/header') -%>
        <main>
            <div class="container-slider">
                <div class="slider">
                    <div class="slides">

                        <input type="radio" name="radio-btn" id="radio1">
                        <input type="radio" name="radio-btn" id="radio2">
                        <input type="radio" name="radio-btn" id="radio3">

                        <div class="slide first">
                            <img src="/images/mouse.png" alt="mouse">
                        </div>
                        <div class="slide">
                            <img src="/images/teclado.png" alt="mouse">
                        </div>
                        <div class="slide">
                            <img src="/images/auriculares.png" alt="mouse">
                        </div>

                    </div>
                    <div class="nav-manual">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                    </div>
                </div>

            </div>

            <div class="contenedor-envio-pago">
                <div class="container-section-envio-pago">
                    <i class="fas fa-credit-card icono-envio-pago"></i>
                    <h5>Pagá con tarjeta o en efectivo</h5>
                </div>
                <hr>
                <div class="container-section-envio-pago">
                    <i class="fas fa-gift icono-envio-pago"></i>
                    <h5>Envío gratis desde $ 25.000</h5>
                </div>
                <hr>
                <div class="container-section-envio-pago">
                    <i class="fas fa-user-shield icono-envio-pago"></i>
                    <h5>Seguridad, de principio a fin</h5>
                </div>
                <hr>
                <div class="container-section-envio-pago">
                    <i class="fab fa-bitcoin icono-envio-pago"></i>
                    <h5>Todo lo que necesitas para la mineria de criptos</h5>
                </div>
            </div>

            <div class="container-productos-filtro">
                <aside>
                    <div class="container-filter-sponsor">
                        <span class="btn-filtro">
                        <p onclick="showfiltro(), rotateflecha()">Categorías</p><i id="girar-flecha" class="fas fa-angle-right"></i>
                    </span>
                        <div class="filtro" id="mostrar-filtro">
                            <ul class="list-filter">
                                <div class="ocultar-close"><i onclick="showfiltro(), rotateflecha()" class="close fas fa-times"></i></div>
                                <li><a href="#">Placas de video</a></li>
                                <li><a href="#">Memorias Ram</a></li>
                                <li><a href="#">Monitores</a></li>
                                <li><a href="#">Coolers</a></li>
                                <li><a href="#">Fuentes</a></li>
                                <li><a href="#">Mothers</a></li>
                                <li><a href="#">Procesadores</a></li>
                                <li><a href="#">Discos Rigidos</a></li>
                                <li><a href="#">Mouses</a></li>
                                <li><a href="#">Teclados</a></li>
                                <li><a href="#">Auriculares</a></li>
                            </ul>
                        </div>
                        <div class="container-sponsor">
                            <h3>Sponsors oficiales:</h3>
                            <img src="/images/sponsor-G2png" class="g2img" alt="Logo de g2">
                            <img src="/images/sponsor_vaticano.png" class="vaticanoimg" alt="Logo de vaticano">
                        </div>
                    </div>
                </aside>

                <section class="container-productos">
                    <h4 class="titulares-productos">Productos Destacados</h4>
                    <div class="container-all-articles">
                        <% productos.forEach(function(producto) {%>
                            <%- include('./partials/productItem', {id: producto.id, nombre: producto.nombre, precio: producto.precio, imagen: producto.imagen}) -%>
                                <% }) %>
                    </div>
                    <h4 class="titulares-productos">Ofertas</h4>
                    <div class="container-all-articles">
                        <% productos.forEach(function(producto) {%>
                            <%- include('./partials/productItem', {id: producto.id, nombre: producto.nombre, precio: producto.precio, imagen: producto.imagen}) -%>
                                <% }) %>
                    </div>

                </section>

            </div>

        </main>

        <%- include('./partials/footer') -%>

</body>

</html>