<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamer Cave</title>
    <link rel="icon" href="/images/logoGamerCave-icono.png">
    <link rel="stylesheet" href="/css/style-index.css">
    <script src="https://kit.fontawesome.com/fa2dfd92f3.js" crossorigin="anonymous"></script>
    <script src="/js/index.js" defer></script>
</head>

<body>
    <header>
        <nav class="menu-top">
            <div class="container-logo">
                <a href="/"><img src="/images/logoGamerCave.png" alt="Logo de Gamer Cave" class="logo"></a>
            </div>
            <div class="container-search">
                <form action="" class="container-input-i">
                    <button type="submit"><i class="fas fa-search"></i></button>
                    <input type="text" placeholder="Buscar">
                </form>
            </div>
            <ul class="menu-items" id="otro-modo">
                <li><a href="/productCart"><i class="icono-nav-bar fas fa-shopping-cart"></i> Carrito</a></li>
                <li><a href="/login"><i class="icono-nav-bar fas fa-sign-in-alt"></i> Iniciar Sesión</a></li>
                <li><a href="/register"><i class="icono-nav-bar far fa-address-card"></i> Registrarse</a></li>
            </ul>
            <span class="btn-menu" onclick="showmenu()">
                <i id="otro-modo" class="fa fa-bars"></i>
            </span>
        </nav>
    </header>

    <main>
        <div class="container-slider">
            <div class="slider">
                <div class="slides">

                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">

                    <div class="slide first">
                        <img src="/images/mouse.png" alt="mouse">
                    </div>
                    <div class="slide">
                        <img src="/images/teclado.png" alt="mouse">
                    </div>
                    <div class="slide">
                        <img src="/images/auriculares.png" alt="mouse">
                    </div>

                </div>
                <div class="nav-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                </div>
            </div>

        </div>

        <div class="container-productos-filtro">
            <aside>
                <div class="container-filter-sponsor">
                    <span class="btn-filtro">
                        <p onclick="showfiltro(), rotateflecha()">Ver todas las categorias</p><i id="girar-flecha" class="fas fa-angle-right"></i>
                    </span>
                    <div class="filtro" id="mostrar-filtro">
                        <ul class="list-filter">
                            <div class="ocultar-close"><i onclick="showfiltro(), rotateflecha()" class="close fas fa-times"></i></div>
                            <li><a href="#">Placas de video</a></li>
                            <li><a href="#">Memorias Ram</a></li>
                            <li><a href="#">Monitores</a></li>
                            <li><a href="#">Coolers</a></li>
                            <li><a href="#">Fuentes</a></li>
                            <li><a href="#">Mothers</a></li>
                            <li><a href="#">Procesadores</a></li>
                            <li><a href="#">Discos Rigidos</a></li>
                            <li><a href="#">Mouses</a></li>
                            <li><a href="#">Teclados</a></li>
                            <li><a href="#">Auriculares</a></li>
                        </ul>
                    </div>
                    <div class="container-sponsor">
                        <h3>Sponsors oficiales:</h3>
                        <img src="/images/sponsor-G2png" class="g2img" alt="Logo de g2">
                        <img src="/images/sponsor_vaticano.png" class="vaticanoimg" alt="Logo de vaticano">
                    </div>
                </div>
            </aside>
            <section class="container-productos">
                <h4 class="titulares-productos">Productos Destacados</h4>
                <div class="container-article">
                    <a href="/productDetail">
                        <article class="article">
                            <img src="/images/placa-video.jpg " alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="/productDetail">
                        <article class="article">
                            <img src="/images/placa-video.jpg " alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="/productDetail">
                        <article class="article">
                            <img src="/images/placa-video.jpg " alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="/productDetail">
                        <article class="article">
                            <img src="/images/placa-video.jpg " alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="/productDetail">
                        <article class="article">
                            <img src="/images/placa-video.jpg " alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="/productDetail">
                        <article class="article">
                            <img src="/images/placa-video.jpg " alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="/productDetail">
                        <article class="article">
                            <img src="/images/placa-video.jpg " alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="/productDetail">
                        <article class="article">
                            <img src="/images/placa-video.jpg " alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>

                </div>
                <h4 class="titulares-productos">Ofertas</h4>
                <div class="container-article">
                    <a href="/productDetail">
                        <article class="article">
                            <img src="/images/placa-video.jpg " alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="/productDetail">
                        <article class="article">
                            <img src="/images/placa-video.jpg " alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="/productDetail">
                        <article class="article">
                            <img src="/images/placa-video.jpg " alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="/productDetail">
                        <article class="article">
                            <img src="/images/placa-video.jpg " alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="/productDetail">
                        <article class="article">
                            <img src="/images/placa-video.jpg " alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="/productDetail">
                        <article class="article">
                            <img src="/images/placa-video.jpg " alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="/productDetail">
                        <article class="article">
                            <img src="/images/placa-video.jpg " alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>
                    <a href="/productDetail">
                        <article class="article">
                            <img src="/images/placa-video.jpg " alt="">
                            <div class="container-info">
                                <p class="nombre-producto">Nombre</p>
                                <p class="precio-producto">$10.000</p>
                            </div>
                        </article>
                    </a>

                </div>

            </section>

        </div>
        <!--
            <div class="contenedor-envio-pago">
                <div class="container-section-envio-pago">
                    <i class="fas fa-credit-card icono-envio-pago"></i>
                    <h5>Pagá con tarjeta o en efectivo</h5>
                    <p>En GamerCave, podes pagar hasta 12 cuotas sin interés con tarjeta o efectivo</p>
                </div>

                <div class="container-section-envio-pago">
                    <i class="fas fa-gift icono-envio-pago"></i>
                    <h5>Envío gratis desde $ 25.000</h5>
                    <p>Si tu compra es mayor a $25.000, podés disfrutar de envíos gratis a cualquier parte del país
                    </p>
                </div>
                <div class="container-section-envio-pago">
                    <i class="fas fa-user-shield icono-envio-pago"></i>
                    <h5>Seguridad, de principio a fin</h5>
                    <p>¿No te gusta? ¡Devolvelo! En GamerCave, no hay nada que no puedas hacer, porque estás siempre protegid@.
                    </p>
                </div>
            </div>-->

    </main>
    <footer>
        <div class="footer-superior">
            <div class="contenedorInfoL">
                <p class="informacionLegal">Información Legal</p>
                <ul class="lista-info-legal">
                    <li>Confguración de cookies</li>
                    <li>Terminos y condiciones</li>
                    <li>Políticas de privacidad</li>
                </ul>
            </div>
            <div class="contenedorContacto">
                <p class="contactanos">Contactanos en:</p>

                <ul class="lista-contactanos">
                    <li><a href="#"><i class="fab fa-instagram "></i> Instagram</a></li>
                    <li><a href="#"><i class="fas fa-envelope "></i> E-mail</a></li>
                    <li><a href="#"><i class="fab fa-facebook-f "></i> Facebook</a></li>
                    <li><a href="#"><i class="fas fa-phone-alt "></i> tel</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-inferior">
            <div class="derechos-reservados">
                <p><i class="far fa-copyright"></i> 2021 Todos los Derechos Reservados|<a href="/">Gamer Cave</a></p>
            </div>
            <div class="ayuda-sobrenos">
                <p><a href="#">Ayuda</a><a>|</a><a href="#">Sobre Nosotros</a></p>
            </div>

        </div>





    </footer>

</body>

</html>