<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamer Cave</title>
    <link rel="icon" href="/images/logoGamerCave-icono.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-product.css">
    <script src="https://kit.fontawesome.com/fa2dfd92f3.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="container-logo">
        <a href="/"><img src="/images/logoGamerCave.png" alt="Logo de Gamer Cave" class="logo"></a>
    </header><br>

    <main>
        <div>
            <div class="pepe">
                <article><img src="\images\ram-muestra.jpg" alt="Imagen grande" class="img-grande"></article>
                <div>
                    <h1 class="pupu">Memoria RAM DDR 8 GB HyperX FURY</h1>
                    <div class="papa">
                        <div>Memorias/DDR4/HyperX FURY</div><br>
                        <div>Hay Stock/Envió gratis/Garantía de 6 meses</div><br>
                        <div>$6.669/Hasta 6 Cuotas sin interes</div><br>
                        <span>
                             <button type="submit" type="button"class="boton2">Comprar</button> 
                            <i class="fas fa-shopping-cart"></i>

                        </span>
                    </div>
                </div>


            </div>


        </div>

        <!-- Boton acordeon -->
        <div class="tab">
            <input id="tab-1" type="checkbox">
            <label for="tab-1">Caracteristicas Principales</label>
            <div class="tab-content">
                <p>Capacidad: 8 GB</p>
                <p>Velocidad: 1866 mhz</p>
                <p>Tipo de memoria: DDR3</p>
                <p>Cantidad De Memorias: 1</p>
                <p>Latencia: 10 cl</p>
                <p>Voltaje: 1.50</p>

            </div>
        </div>
    </main><br>




    <footer>
        <div class="contenedorFooter">
            <div class="contenedorInfoL">
                <p class="InformaciónLegal">Información Legal</p>
                <br>
                <ul>
                    <li>Confguración de cookies</li>
                    <li>Terminos y condiciones</li>
                    <li>Políticas de privacidad</li>
                </ul>
            </div>
            <div class="contenedorContacto">
                <p class="contactanos">Contactanos en:</p>
                <br>
                <ul class="lista-contactanos">
                    <li class="icono-contacto"><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li class="icono-contacto"><a href="#"><i class="fas fa-envelope"></i> E-mail</a></li>
                    <li class="icono-contacto"><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li class="icono-contacto"><a href="#"><i class="fas fa-phone-alt"></i> tel</a></li>
                </ul>
            </div>
        </div>






    </footer>
</body>

</html>