<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamer Cave</title>
    <link rel="icon" href="/images/logoGamerCave-icono.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-recover-password.css">
    <script src="https://kit.fontawesome.com/fa2dfd92f3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap" rel=" stylesheet ">
</head>

<body>
    <header class="container-logo">
        <img src="/images/logoGamerCave.png" alt="Logo de Gamer Cave" class="logo">
    </header>
    <main>
        <div class="container-form">
            <form action="">
                <h4>Recuperar Contraseña</h4>
                <p>Le enviaremos un correo electronico de verificación</p>
                <div class="container-input">
                    <label for="email">E-mail:</label>
                    <input class="input" type="email" id="email" placeholder="Ej: Juanperez22@gmail.com" required>
                </div><br>

                <button class="boton" type="submit">Enviar</button>


            </form>
        </div>
    </main>
</body>

</html>