.colores {
    color: #120907;
    color: #171f35;
    color: #4b5985;
    color: #8598e5;
    color: #c0d7ed;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    width: 100vw;
}

body {
    background-image: url('/images/backgroundIndex.svg');
}

main {
    margin-top: 110px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/**/

.container-slider {
    width: 90%;
    margin: auto;
    border-radius: 10px;
}

.slider {
    overflow: hidden;
    background-color: white;
    box-shadow: 1px 0px 12px 0px white;
}

.slides {
    width: 500%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    border-radius: 10px;
    
}

.nav-manual {
    position: absolute;
    left: 0px;
    right: 0px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: solid 2px white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}


/**/

.contenedor-envio-pago {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    margin: 80px auto 20px;
    width: max-content;
    max-width: 90%;
    border-radius: 10px;
    border: solid 1px black;
}

.container-section-envio-pago {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    display: block;
    text-align: center;
    max-width: 160px;
}

.container-section-envio-pago p {
    color: #140f07;
    font-size: 1em;
}

.icono-envio-pago {
    color: #171f35;
    font-size: 2em;
    margin-bottom: 15px;
    transition: all .5s;
}

.icono-envio-pago:hover {
    color: #8598e5;
    font-size: 2.05em;
}

.colores {
    color: #120907;
    color: #171f35;
    color: #4b5985;
    color: #8598e5;
    color: #c0d7ed;
}

.container-section-envio-pago h5 {
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    color: #120907;
}

.container-productos-banner {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}


/*aca empieza la seccion de productos*/

.container-productos {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    max-width: 1400px;
}

.titulares-productos {
    font-size: 28px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 60px;
    color: white;
    border-bottom: white 2px solid;
    padding-bottom: 15px;
}

.container-all-articles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media (min-width: 769px) {
    main{
        margin-top: 150px;
    }
    .titulares-productos {
        font-size: 35px;

    }
    
    .contenedor-envio-pago {
        flex-direction: row;
    }

    .container-productos-banner {
        margin-top: 0px;
    }
}

@media (min-width: 1280px) {
    .container-slider {
        width: 90%;
    }

    .publicidades {
        margin-top: 80px;
    }
}