/*.
color1 {color: #120907;}
.color2{color: #171f35;}
.color3{color: #4b5985;}
.color4{color: #8598e5;}
.color5{color: #c0d7ed;}
*/

.colores {
    color: #120907;
    color: #171f35;
    color: #4b5985;
    color: #8598e5;
    color: #c0d7ed;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    width: 100vw;
}

body {
    background-color: #140f07;
}

main {
    margin-top: 110px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/**/

.container-slider {
    width: 90%;
    margin: auto;
    border-radius: 10px;
}

.slider {
    overflow: hidden;
}

.slides {
    width: 500%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    border-radius: 10px;
    border: solid 4px #4f5d9c;
}

.nav-manual {
    position: absolute;
    left: 0px;
    right: 0px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: solid 2px #4b5985;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #4b5985;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}


/**/

.contenedor-envio-pago {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    margin: 50px auto 20px;
    width: max-content;
    max-width: 90%;
    border-radius: 10px;
}

.container-section-envio-pago {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    display: block;
    text-align: center;
    max-width: 160px;
}

.container-section-envio-pago p {
    color: #140f07;
    font-size: 1em;
}

.icono-envio-pago {
    color: #171f35;
    font-size: 2em;
    margin-bottom: 15px;
    transition: color .5s;
}

.icono-envio-pago:hover {
    color: #39b54a;
}

.container-section-envio-pago h5 {
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    color: #120907;
}

.container-productos-filtro {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

aside {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container-filter-sponsor {
    width: 100%;
}

.btn-filtro {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    color: #0e0b16;
    font-size: 20px;
    width: 100%;
    height: 100%;
    transition: all .5s;
    color: white;
}

.btn-filtro p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 5px;
    font-family: 'Noto Sans', sans-serif;
}

.rotate-flecha {
    transform: rotate(90deg);
    transition-duration: .5s;
}

.filtro {
    position: fixed;
    top: -100vh;
    height: 100vh;
    width: 100vw;
    background-color: #171f35f1;
    transition: all .5s;
    z-index: 1;
    overflow: scroll;
    margin: auto;
}

.filtro::-webkit-scrollbar {
    display: none;
}

.list-filter {
    position: relative;
}

.show-filtro {
    top: 0px;
}

.close {
    color: #E5E5E5;
    position: absolute;
    top: 10px;
    right: 15px;
}

.close:hover {
    color: red;
}

.list-filter li {
    text-align: center;
    padding: 20px;
    transition: background-color 1s;
}

.list-filter li:hover {
    background-color: #140f07;
}

.list-filter li a {
    text-decoration: none;
    text-align: center;
    color: #E5E5E5;
    font-family: 'Noto Sans', sans-serif;
}


/*aca termina el filtro para productos*/

.container-sponsor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    position: relative;
    display: none;
}

.container-sponsor h3 {
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.container-sponsor img {
    width: 80%;
    margin-top: 10px;
    background-color: white;
    position: absolute;
    top: 20px;
}

.vaticanoimg {
    height: 240px;
    width: 220px;
    animation-name: sponsorvatic;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.g2img {
    height: 240px;
    width: 220px;
    animation-name: sponsorg2;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes sponsorg2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sponsorvatic {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*aca empieza la seccion de productos*/

.container-productos {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    max-width: 1400px;
}

.titulares-productos {
    font-size: 25px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 20px;
    color: white;
}

.container-all-articles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media (min-width: 769px) {
    .contenedor-envio-pago {
        flex-direction: row;
    }
    .footer-superior {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    .footer-inferior {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 10px
    }
}

@media (min-width: 1280px) {
    .container-slider {
        width: 60%;
    }
    .container-productos-filtro {
        flex-direction: row;
    }
    .container-productos {
        width: 75%;
    }
    aside {
        width: 20%;
        flex-direction: column;
        height: 100%;
        margin-top: 20px;
    }
    .filtro {
        position: static;
        top: initial;
        height: 100%;
        width: 70%;
        margin-top: 10px;
        border-radius: 3px;
        background-color: #4b5985;
    }
    .filtro li {
        border-top: #E5E5E5 solid 1px;
    }
    .filtro li a {
        color: #E5E5E5;
    }
    #girar-flecha {
        display: none;
    }
    .ocultar-close {
        display: none;
    }
    .container-sponsor {
        display: flex;
    }
}