* {
    box-sizing: border-box;
}

body {
    background-color: #0E0B16;
    height: 100vh;
}

.container-logo {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.logo {
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
    margin-left: 20px;
}

.container-form {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 90%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 25px;
    background-color: #E5E5E5;
    border: solid 3px #4717F6;
    border-radius: 10px;
}

form h4 {
    color: #0E0B16;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-bottom: 0px;
}

.container-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-input label {
    color: #0E0B16;
    padding-bottom: 8px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.input {
    width: 100%;
    padding: 10px;
    border: solid 1px white;
    border-radius: 5px;
    background-color: #7f7f7f32;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.input:focus {
    background-color: #7F7F7F90;
}

form p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #0E0B16;
}

.boton {
    padding: 14px 24px;
    border-radius: 5px;
    border: 2px solid #4717F6;
    background-color: #E5E5E5;
    color: #0E0B16;
    font-family: 'Roboto', sans-serif;
}

.boton:hover {
    background-color: #4717F6;
    color: #E5E5E5;
    transition-duration: 1s;
}

@media (min-width: 769px) {
    body {
        height: 100vh;
        background-image: url('/images/background-account.webp');
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center center;
    }
    main {
        justify-content: flex-end;
        margin-right: 2%;
    }
    form {
        max-width: 400px;
        width: 60vw;
        margin-top: 60px;
    }
    form h4 {
        font-size: 28px;
    }
}

@media (min-width: 1955px) {
    body {
        background-size: 100% auto;
    }
}