.colores {
    color: #120907;
    color: #171f35;
    color: #4b5985;
    color: #8598e5;
    color: #c0d7ed;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    width: 100vw;
}

body {
    background-color: #140f07;
}

main {
    margin-top: 110px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/**/

.container-slider {
    width: 90%;
    margin: auto;
    border-radius: 10px;
}

.slider {
    overflow: hidden;
}

.slides {
    width: 500%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    border-radius: 10px;
    border: solid 4px #4f5d9c;
}

.nav-manual {
    position: absolute;
    left: 0px;
    right: 0px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: solid 2px #4b5985;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #4b5985;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}


/**/

.contenedor-envio-pago {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    margin: 50px auto 20px;
    width: max-content;
    max-width: 90%;
    border-radius: 10px;
}

.container-section-envio-pago {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    display: block;
    text-align: center;
    max-width: 160px;
}

.container-section-envio-pago p {
    color: #140f07;
    font-size: 1em;
}

.icono-envio-pago {
    color: #171f35;
    font-size: 2em;
    margin-bottom: 15px;
    transition: color .5s;
}

.icono-envio-pago:hover {
    color: #39b54a;
}

.container-section-envio-pago h5 {
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    color: #120907;
}

.container-productos-banner {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.publicidades {
    background-image: url('/images/sponsors/background-cripto.jpg');
    background-size: contain;
    width: 320px;
    margin: 200px auto 50px;
}

.container-titulo-publicidad {
    width: 100%;
    background-color: #1209076b;
    padding: 10px 60px;
    margin: auto;
}

.container-titulo-publicidad h3 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.container-slider-publicidades {
    width: 90%;
    margin: auto;
    border-radius: 10px;
}

.slider-publicidades {
    overflow: hidden;
}

.slides-publicidades {
    width: 500%;
    display: flex;
}

.slides-publicidades input {
    display: none;
}

.slide-publicidades {
    width: 20%;
    transition: 2s;
}

.slide-publicidades img {
    width: 100%;
    height: 70px;
    border-radius: 10px;
}

#radio-publicidades1:checked~.first-publicidades {
    margin-left: 0;
}

#radio-publicidades2:checked~.first-publicidades {
    margin-left: -20%;
}

#radio-publicidades3:checked~.first-publicidades {
    margin-left: -40%;
}


/*aca empieza la seccion de productos*/

.container-productos {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    max-width: 1400px;
}

.titulares-productos {
    font-size: 25px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 20px;
    margin-top: 60px;
    color: white;
}

.container-all-articles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container-banner-garbarino {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 100px;
    display: none;
}

.container-banner-garbarino img {
    width: 100%;
}

@media (min-width: 769px) {
    .contenedor-envio-pago {
        flex-direction: row;
    }
    .container-banner-garbarino {
        display: initial;
    }
}

@media (min-width: 1280px) {
    .container-slider {
        width: 60%;
    }
    .publicidades {
        margin-top: 80px;
    }
}