* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {}

.container-logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 80px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.logo {
    width: 100%;
}

main {
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1250px;
    padding-bottom: 150px;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 90%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 25px;
    background-color: #e5e5e5d7;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0E0B16;
}

form div {
    width: 100%;
}

form h4 {
    color: #0E0B16;
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 5px;
}

.line {
    width: 100%;
    color: #0E0B16;
    background-color: #0E0B16;
    height: 3px;
    margin-bottom: 20px;
}

form div label {
    color: #0E0B16;
    padding-bottom: 8px;
    margin-bottom: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.input {
    width: 100%;
    padding: 10px;
    border: solid 1px white;
    border-radius: 5px;
    background-color: #7f7f7f32;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}

.input:focus {
    background-color: #7F7F7F90;
}

.categorias {
    width: 100%;
    padding: 10px;
    border: solid 1px white;
    border-radius: 5px;
    background-color: #7f7f7f32;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}

.containerInput {
    position: relative;
}

.iconoConfirmPasswordError {
    position: absolute;
    top: 10px;
    right: 7px;
    z-index: 10;
    color: red;
    opacity: 0;
}

.iconoConfirmPasswordCheck {
    position: absolute;
    top: 10px;
    right: 7px;
    z-index: 10;
    color: rgb(80, 180, 41);
    opacity: 0;
}

.mostrarConfirm {
    opacity: 1;
}

.errorConfirmPassword {
    display: none;
    color: red;
    font-size: 16px;
}

.boton {
    padding: 14px 24px;
    border-radius: 5px;
    border: 2px solid #4b5985;
    background-color: #E5E5E5;
    color: #0E0B16;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.boton:hover {
    background-color: #4b5985;
    color: #E5E5E5;
    transition-duration: 1s;
}

form p {
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    color: #0E0B16;
    font-weight: 600;
}

form p a {
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    color: #4b5985;
    font-weight: 600;
}

@media (min-width: 769px) {
    main {
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    form {
        max-width: 500px;
        width: 80%;
    }
    form h4 {
        font-size: 28px;
    }
}