* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1250px;
    padding-bottom: 150px;
    margin-top: 200px;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 90%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 35px;
    background-color: #e5e5e5d7;
    border-radius: 10px;
    margin: auto;
    box-shadow: 2px 5px 10px #4b5985;
}

form div {
    width: 100%;
}

form h4 {
    color: #0E0B16;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.line {
    width: 100%;
    color: #0E0B16;
    background-color: #0E0B16;
    height: 3px;
    margin: 10px 0px 20px;
}

form div label {
    color: #0E0B16;
    padding-bottom: 8px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.input {
    width: 100%;
    padding: 10px;
    border: solid 1px white;
    border-radius: 5px;
    background-color: #7f7f7f32;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 4px;
    box-shadow: 2px 5px 10px #4b5985;
}

.input:focus {
    background-color: #7F7F7F90;
}

.categorias {
    width: 100%;
    padding: 10px;
    border: solid 1px white;
    border-radius: 5px;
    background-color: #7f7f7f32;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    box-shadow: 2px 5px 10px #4b5985;
}

#caracteristicas {
    position: relative;
}

#descripcion {
    display: flex;
    justify-content: space-between;
}

.containerAddField {
    position: absolute;
    border: solid 1px black;
    right: -25px;
    top: 25px;
    padding: 2px;
    height: 30px;
    transition: all .5s;
}

.containerAddField:hover {
    padding: 4px;
    top: 23px;
    right: -27px;
    transform: rotate(360deg);
}

.colum {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.labelKeyValue {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.textHelp {
    font-size: 12px;
    margin: 5px 0px;
}

.boton {
    padding: 14px 24px;
    border-radius: 5px;
    border: 2px solid #4b5985;
    background-color: #E5E5E5;
    color: #0E0B16;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.boton:hover {
    background-color: #4b5985;
    color: #E5E5E5;
    transition-duration: 1s;
}

@media (min-width: 769px) {
    main {
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    form {
        max-width: 500px;
        width: 80%;
    }
    form h4 {
        font-size: 28px;
    }
}