 * {
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
 }

 body {
    background-color: #2B1B5B;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%232B1B5B'/%3E%3Cstop offset='1' stop-color='%232A1B5A'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
 p {
     font-size: 18px;
     font-variant: small-caps;
 }

 html {
     width: 100vw;
 }

 main {
     margin: auto;
     margin-top: 110px;
     width: 95%;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }


 .container-form {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 form {
     margin-left: 10px;
     width: 90%;
     max-width: 360px;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 10px 25px;
     background-color: #e5e5e5d7;
     border-radius: 10px;
 }

 form div {
     width: 100%;
 }

 form h4 {
     color: #0E0B16;
     font-size: 24px;
     font-family: 'Noto Sans', sans-serif;
     margin-bottom: 5px;
 }

 .line {
     width: 100%;
     color: #0E0B16;
     background-color: #0E0B16;
     height: 3px;
     margin-bottom: 20px;
 }

 form div label {
     color: #0E0B16;
     padding-bottom: 8px;
     margin-bottom: 20px;
     font-family: 'Noto Sans', sans-serif;
     font-weight: 700;
 }

 .input {
     width: 100%;
     padding: 10px;
     border: solid 1px white;
     border-radius: 5px;
     background-color: #7f7f7f32;
     text-align: center;
     font-family: 'Noto Sans', sans-serif;
     font-weight: 600;
 }

 .input:focus {
     background-color: #7F7F7F90;
 }


 .boton {
     padding: 14px 24px;
     border-radius: 5px;
     border: 2px solid #4b5985;
     background-color: #E5E5E5;
     color: #0E0B16;
     font-family: 'Noto Sans', sans-serif;
     font-weight: 700;
 }

 .boton:hover {
     background-color: #4b5985;
     color: #E5E5E5;
     transition-duration: 1s;
 }


 textarea {
     text-align: center;
     width: 100%;
     border: none;
     border-radius: 4px;
     background-color: #f1f1f1;
     box-sizing: border-box;
     border: 2px solid #ccc;
     border-radius: 4px;
     background-color: #f8f8f8;
     font-size: 16px;
     resize: none;
 }

 #max {
     text-align: center;
     width: 100%;
     border: none;
     border-radius: 4px;
     background-color: #f1f1f1;
     box-sizing: border-box;
     border: 2px solid #ccc;
     border-radius: 4px;
     font-size: 16px;
     resize: none;
     width: 100%;
     margin-top: 10px;
     margin-bottom: 10px;

 }

 #min {
     text-align: center;
     width: 100%;
     border: none;
     border-radius: 4px;
     background-color: #f1f1f1;
     box-sizing: border-box;
     border: 2px solid #ccc;
     border-radius: 4px;
     font-size: 16px;
     resize: none;
     width: 100%;
 }

 .tab {

     display: block;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     width: 80%;
 }

 .checkbox-filter {
     display: none;
 }

 .tab-content div {
     padding-left: 10px;
 }

 .tab-content {
     font-family: 'Noto Sans', sans-serif;
     background-color: #e5e5e5d7;
 }

 .title-filter {
     height: 100%;
     text-align: center;
     display: block;
     margin-top: 10px;
     padding: 10px;
     margin-left: 1px;
     color: #ffffff;
     border-right: solid 3px #55669c;
     border-top: solid 3px #55669c;
     background: rgb(104 78 184);
     font-family: 'Noto Sans', sans-serif;
 }

 .tab .tab-content {
     border-top-style: hidden;
     color: #0E0B16;
     overflow: visible;
     margin-top: 90px;
     margin-left: 1px;
     transition: none;
     max-height: none;
     width: auto;
     padding-left: 0;


 }

 .tab .tab-content p {
     padding: 10px;
 }

 .tab .tab-content h4 {
     padding-left: 10px;
 }

 .lista-categorias li {
     padding-left: 10px;
 }

 .checkbox-filter:checked~.tab-content {
     max-height: 100vh;
 }

 .title-filter::after {
     content: "\25b6";
     position: absolute;
     right: 10px;
     top: 10px;
     display: block;
     transition: all 0.4s;
 }

 .checkbox-filter:checked~label::after {
     transform: rotate(90deg);
 }

 .lista-categorias {
     list-style: none;
     padding-bottom: 15px;
 }

 .lista-categorias li a {
     text-decoration: none;
     color: #0E0B16;
 }

 .button {
     padding: 14px 24px;
     color: #0E0B16;
     font-family: 'Roboto', sans-serif;
     transition: all 1s;
     cursor: pointer;
     font-weight: 800;
     text-decoration: none;
     text-align: center;
     align-items: center;
 }

 .boton-filtrar {
     padding: 14px 24px;
     color: #0E0B16;
     font-family: 'Roboto', sans-serif;
     font-weight: 800;
     text-decoration: none;
     text-align: center;
 }



 .container-productos {
     width: 90%;
     margin: auto;
     margin-top: 20px;
     max-width: 1400px;
 }

 .titulares-productos {
     font-size: 28px;
     text-align: center;
     font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
     font-variant: small-caps;
     font-weight: bold;
     margin-bottom: 50px;
     margin-top: 60px;
     color: white;
     border-bottom: white 2px solid;
     padding-bottom: 15px;
 }

 .container-all-articles {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     margin: auto;
 }

 @media (min-width: 769px) {



     form {
         max-width: 500px;
         width: 80%;
     }

     form h4 {
         font-size: 28px;
     }

     aside {
         display: flex;
         flex-direction: row;
     }

     .tab {
         max-width: 200px;
         max-height: 50px;
         margin-top: 100px;
     }

     .title-filter::after {
         padding-top: 13px;
         content: none;
     }

     .tab .tab-content {
         border-top-style: hidden;
         color: #0E0B16;
         overflow: visible;
         transition: none;
         max-height: none;
         width: auto;
         padding-left: 0;
         background-color: #e5e5e5
     }
 }

 ul.pepe {
     margin: 10px auto;
     padding: 0;
     list-style: none;
     width: 100%;
     font-size: 18px;
 }

 ul.pepe li {
     list-style: none;
 }

 ul.pepe li a {
     display: block;
     padding: 10px 10px 10px 14px;
     background: #402690c9;
     color: #fff;
     border-top: 1 px solid #666;
     text-decoration: none;
     box-sizing: border-box;
 }

 ul.pepe li ul {
     max-height: 0;
     margin: 0;
     padding: 0;
     list-style: none;
     overflow: hidden;
     transition: .3s all ease-in;
 }

 ul.pepe li:hover ul {
     max-height: 600px;
     transition: .3s all ease-in;
 }

 ul.pepe li a:hover {
     background: #666;
     color: #fff;
 }

 /*aca*/


