<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/users/style-edit.css">

</head>

<body>
    <%- include('../partials/header') -%>
        <main>
            <div class="container-form">
                <form action="/users/<%= user.id %>/changePassword/?_method=PUT" class="form" method="POST" enctype="multipart/form-data" id="formulario">
                    <h4>Cambiar contraseña</h4>
                    <hr class="line">


                    <div>
                        <label for="oldPassword">Anterior contraseña:</label>
                        <input class="input" type="password" id="oldPassword" name="oldPassword" placeholder="Introduzca aquí su anterior contraseña" required>
                    </div><br>
                    <div>
                        <label for="newPassword">Nueva contraseña</label>
                        <input class="input" type="password" id="newPassword" name="newPassword" placeholder="Introduzca aquí su nueva contraseña" required>
                    </div><br>








                    <button class="boton" type="submit">Cambiar contraseña</button>
                </form>
            </div>
        </main>
        <%- include('../partials/footer') -%>
</body>

</html>