<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/users/style-login.css">
</head>

<body>
    <header class="container-logo">
        <a href="/"><img src="/images/logos/logoGamerCave.png" alt="Logo de Gamer Cave" class="logo"></a>
    </header>
    <main>
        <div class="container-form">
            <form action="/users/login" method="POST">
                <h4>Iniciar sesión</h4>

                <% if(locals.errors) {%>
                    <p class="errorMsg"><i class="fas fa-exclamation-triangle"></i> Email o contraseña incorrecto.</p>
                    <% } %>

                        <div>
                            <label for="email">E-mail:</label>
                            <input class="input" name="email" type="email" id="email" placeholder="Ej: Juanperez22@gmail.com" required>
                        </div><br>

                        <div>
                            <label for="password">Contraseña:</label>
                            <input class="input" name="password" type="password" id="password" placeholder="Password" required>
                        </div><br>

                        <div class="container-mantener-sesion">
                            <input class="checkbox" type="checkbox" id="mantener" data-testid="keepLoggedInCheckbox" value="false">
                            <label class="mantener-sesion" for="mantener">Mantener sesión</label>
                        </div>

                        <div class="container-olvidaste-contrasena">
                            <a href="/users/recoverpassword" class="olvidaste-contrasena">¿Olvidaste tu contraseña?</a>
                        </div>

                        <button class="boton" type="submit">Enviar</button>

                        <p>No tenés una cuenta?<a href="/users/register">Registrate</a></p>
            </form>
        </div>

        <div class="divisor">
            <hr class="linea">
            <strong class="o">o</strong>
            <hr class="linea">
        </div>


        <section class="container-inicio-google-facebook">

            <article class="container-google">
                <button class="google"><i class="fab fa-google icono-google"></i> Iniciá sesión con Google</button>
            </article>

            <article class="container-facebook">
                <button class="facebook"><i class="fab fa-facebook-f icono-facebook"></i> Iniciá sesión con Facebook</button>
            </article>

        </section>


    </main>
</body>

</html>