<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/users/style-recover-password.css">
</head>

<body>
    <header class="container-logo">
        <a href="/"><img src="/images/logos/logoGamerCave.png" alt="Logo de Gamer Cave" class="logo"></a>
    </header>
    <main>
        <div class="container-form">
            <form action="">
                <h4>Recuperar Contraseña</h4>
                <p>Le enviaremos un correo electronico de verificación</p>
                <div class="container-input">
                    <label for="email">E-mail:</label>
                    <input class="input" type="email" id="email" placeholder="Ej: Juanperez22@gmail.com" required>
                </div><br>

                <button class="boton" type="submit">Enviar</button>


            </form>
        </div>
    </main>
</body>

</html>