<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/users/style-register.css">
        <script src="/js/register.js" defer></script>
</head>

<body>
    <header class="container-logo">
        <a href="/"><img src="/images/logos/logoGamerCave.png" alt="Logo de Gamer Cave" class="logo"></a>
    </header>
    <main>

        <div class="container-form">
            <form action="/users/create" method="POST" enctype="multipart/form-data" id="formulario">
                <h4>Registrate</h4>
                <hr class="line">
                <div>
                    <label for="name">Nombre:</label>
                    <input class="input" type="text" id="name" name="nombre" placeholder="Ej: Juan" required>
                </div><br>

                <div>
                    <label for="lastname">Apellido:</label>
                    <input class="input" type="text" id="lastname" name="apellido" placeholder="Ej: Pérez" required>
                </div><br>

                <div>
                    <label for="email">E-mail:</label>
                    <input class="input" type="email" id="email" name="email" placeholder="Ej: Juanperez22@gmail.com" required>
                </div><br>

                <div>
                    <label for="phone">Teléfono:</label>
                    <input class="input" type="tel" id="phone" name="telefono" placeholder="Ej: +54 9 11 4545-4545" required>
                </div><br>

                <div> <label for="img_user">Imagen de Usuario:</label>
                    <input class="input" type="file" name="img_user" id="img_user" required>
                </div><br>

                <div>
                    <label for="password">Contraseña:</label>
                    <div class="containerInput">
                        <input class="input" type="password" id="password" name="contrasena" placeholder="Password" required>
                        <i id="iconoConfirmPasswordError" class="fas fa-times-circle iconoConfirmPasswordError"></i>
                        <i id="iconoConfirmPasswordCheck" class="fas fa-check-circle iconoConfirmPasswordCheck"></i>
                    </div>

                </div><br>

                <div>
                    <label for="confirmPassword">Confirme su contraseña:</label>
                    <div class="containerInput">
                        <input class="input" type="password" id="confirmPassword" name="confirmar" placeholder="Confirm your Password" required>
                        <i id="iconoConfirmPasswordError2" class="fas fa-times-circle iconoConfirmPasswordError"></i>
                        <i id="iconoConfirmPasswordCheck2" class="fas fa-check-circle iconoConfirmPasswordCheck"></i>
                    </div>
                    <p id="errorConfirmPassword" class="errorConfirmPassword">Las contraseñas deben ser iguales y deben tener un minimo de 10 caracteres.</p>
                </div><br>

                <button class="boton" type="submit">Enviar</button>

                <p>Ya tenes una cuenta?<a href="/users/login">Iniciar Seción</a></p>
            </form>
        </div>

        <div class="divisor">
            <hr class="linea">
            <strong class="o">o</strong>
            <hr class="linea">
        </div>


        <section class="container-inicio-google-facebook">

            <article class="container-google">
                <button class="google"><i class="fab fa-google icono-google"></i> Iniciá sesión con Google</button>
            </article>

            <article class="container-facebook">
                <button class="facebook"><i class="fab fa-facebook-f icono-facebook"></i> Iniciá sesión con
                    Facebook</button>
            </article>

        </section>


    </main>
</body>

</html>