header {
    background-color: #4b5985;
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.menu-top {
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
}

.container-logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 80px;
    border-radius: 20px;
}

.logo {
    width: 100%;
}

.container-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.container-input-i {
    display: flex;
    text-align: left;
    justify-content: flex-end;
    border-radius: 5px;
    position: relative;
    width: 100%;
}

.container-input-i input {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #E5E5E5;
}

.container-input-i button {
    border: none;
    background-color: #E5E5E5;
    position: absolute;
    margin-top: 10px;
    margin-right: 4px;
    padding-right: 5px;
}

.container-input-i button i {
    color: #140f07;
}

.menu-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    background-color: #120907e1;
    top: -100vh;
    text-align: center;
    transition: all 0.4s;
    margin-right: 60px;
    z-index: 2;
}

.menu-items li {
    width: 100%;
    text-align: center;
    border-top: solid 3px #4f5d9c;
    padding: 0px 10px;
}

.menu-items li a {
    text-decoration: none;
    display: block;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    color: white;
    padding: 30px;
    transition: color 0.5s;
}

.menu-items li a:hover {
    color: #4f5d9c;
    transition-duration: 0.5s;
}

.menu-items li a i {
    color: white;
}

.btn-menu {
    justify-content: center;
    cursor: pointer;
    display: inline-flex;
    color: #E5E5E5;
    font-size: 20px;
    width: 20%;
}

.show {
    top: 60px;
}

@media (min-width: 769px) {
    .menu-top {
        justify-content: space-around;
    }
    .container-search {
        width: 30%;
    }
    .menu-items {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: static;
        width: 50%;
        max-width: 370px;
        background: none;
        top: initial;
        margin-right: 0px;
        z-index: initial;
    }
    .menu-items li {
        border-top: none;
        transition: all .5s;
    }
    .menu-items li a {
        font-size: 12px;
        padding: 10px 0px;
        margin: 0px 5px;
        border-top: solid 4px #140f07;
        transition: all .5s;
    }
    .menu-items li a:hover {
        border-top: solid 4px white;
        color: white;
    }
    .btn-menu {
        display: none;
    }
}