<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamer Cave</title>
    <link rel="icon" href="/images/logoGamerCave-icono.png">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/products/style-productCart.css">
    <script src="https://kit.fontawesome.com/fa2dfd92f3.js" crossorigin="anonymous"></script>
    <script src="/js/productCart.js" defer></script>
</head>

<body>
    <%- include('../partials/header') -%>

        <main>


            <div class="container-producto-carrito">
                <i class="close fas fa-times"></i>
                <div class="container-img-producto">
                    <img src="../../images\ram2.png" alt="">
                </div>
                <div class="container-info-producto">
                    <div class="container-nombre-porducto">
                        <p>Memoria RAM DDR 8 GB HyperX FURY</p>
                    </div>
                    <div class="container-cantidad-precio">
                        <form class="container-cantidad">
                            <div class="btn-aumen-decre" id="decrease" onclick="decreaseValue()" value="Decrease Value">
                                -
                            </div>
                            <input type="number" id="number" value="0" />
                            <div class="btn-aumen-decre" id="increase" onclick="increaseValue()" value="Increase Value">
                                +
                            </div>
                        </form>
                        <div class="container-precio">
                            <p>$6.699</p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="container-producto-carrito">
                <i class="close fas fa-times"></i>
                <div class="container-img-producto">
                    <img src="../../images\ram2.png" alt="">
                </div>
                <div class="container-info-producto">
                    <div class="container-nombre-porducto">
                        <p>Memoria RAM DDR 8 GB HyperX FURY</p>
                    </div>
                    <div class="container-cantidad-precio">
                        <form class="container-cantidad">
                            <div class="btn-aumen-decre" id="decrease" onclick="decreaseValue2()" value="Decrease Value">
                                -
                            </div>
                            <input type="number" id="number2" value="0" />
                            <div class="btn-aumen-decre" id="increase" onclick="increaseValue2()" value="Increase Value">
                                +
                            </div>
                        </form>
                        <div class="container-precio">
                            <p>$6.699</p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="container-producto-carrito">
                <i class="close fas fa-times"></i>
                <div class="container-img-producto">
                    <img src="../../images\ram2.png" alt="">
                </div>
                <div class="container-info-producto">
                    <div class="container-nombre-porducto">
                        <p>Memoria RAM DDR 8 GB HyperX FURY</p>
                    </div>
                    <div class="container-cantidad-precio">
                        <form class="container-cantidad">
                            <div class="btn-aumen-decre" id="decrease" onclick="decreaseValue3()" value="Decrease Value">
                                -
                            </div>
                            <input type="number" id="number3" value="0" />
                            <div class="btn-aumen-decre" id="increase" onclick="increaseValue3()" value="Increase Value">
                                +
                            </div>
                        </form>
                        <div class="container-precio">
                            <p>$6.699</p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="container-envio-pago">

                <div class="container-opciones-compra">
                    <div>
                        <label for="">Tipo de Envio:</label><br>
                        <select name="envio" id="" class="field">
                        <option value="correo">Retiro al correo</option>
                        <option value="domicilio">Envio a domicilio</option>
                    </select>
                    </div>
                </div>

                <div class="container-opciones-compra">

                    <div>
                        <label for="">Metodo de pago:</label><br>
                        <select name="pago" id="" class="field">
                        <option value="transferencia">Transferencia bancaria</option>
                        <option value="tarjeta">Tarjeta de Credito/Debito</option>
                        <option value="mercado">Mercado Pago</option>
                        <option value="bitcoin">Bitcoin</option>
                    </select>
                    </div>
                </div><br>

                <h4>Precio total:</h4><br>
                <div class="container-btn-comprar">
                    <button type="submit" type="button" class="btn-comprar">Comprar</button>
                </div>
            </div>

        </main>

        <%- include('../partials/footer') %>


</body>

</html>