<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/products/style-products.css">
        <script src="/js/product.js"></script>
</head>

<body>
    <%- include('../partials/header') -%>
        <main>

            <aside>

                <div class="tab">
                    <input id="tab-1" class="checkbox-filter" type="checkbox">
                    <label class="title-filter" for="tab-1">Filtrar por:</label>
                    <div class="tab-content">

                        <p> Precio:</p>
                        <form action="/products/filterByPrice" method="get">
                            <div>
                                <label for="max">Máximo:</label>
                                <input id="max" name="max" type="number" placeholder="Valor Maximo">
                            </div>
                            
                            <div>
                                <label for="min">Mínimo:</label>
                                <input id="min" name="min" type="number" placeholder="Valor Minimo">
                            </div>
                            
                        <ul class="pepe">
                            <li><a href="#">Filtrar por categorias:</a>
                                <ul class="lista-categorias">
                                    <li><a href="#">Procesadores</a></li>
                                    <li><a href="#">Discos Rigidos</a></li>
                                    <li><a href="#">Auriculares</a></li>
                                    <li><a href="#">Mouses</a></li>
                                    <li><a href="#">Teclados</a></li>
                                    <li><a href="#">Memorias Ram</a></li>
                                    <li><a href="#">Monitores</a></li>
                                    <li><a href="#">Coolers</a></li>
                                    <li><a href="#">Fuentes</a></li>
                                    <li><a href="#">Mothers</a></li>
                                    <li><a href="#">Placa de video</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="boton-filtrar">
                            <button>Filtrar</button>
                        </div>
                    </form>
                    </div>
                </div>

                </div>
                </div>

                <section class="container-productos">
                    <h4 class="titulares-productos">Productos</h4>
                    <div class="container-all-articles ">
                        <% products.forEach(function(product) {%>
                            <%- include('../partials/productItem', {id: product.id, name: product.name, price:
                                product.price,discount:product.discount, img1: product.images[2].name}) -%>
                                <% }) %>
                    </div>

                    </div>

                </section>

                </div>

        </main>

        <%- include('../partials/footer') -%>

</body>

</html>