<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamer Cave</title>
    <link rel="icon" href="/images/logos/logoGamerCave-icono.png">
    <link rel="stylesheet" href="/css/style-index.css">
    <script src="https://kit.fontawesome.com/fa2dfd92f3.js" crossorigin="anonymous"></script>
    <script src="/js/index.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap" rel=" stylesheet">
</head>

<body>
    <%- include('../partials/header') -%>
        <main>

            <div class="container-productos-filtro">
                <aside>
                    <div class="container-filter-sponsor">
                        <span class="btn-filtro">
                            <p onclick="showfiltro(), rotateflecha()">Categorías</p><i id="girar-flecha" class="fas fa-angle-right"></i>
                        </span>
                        <div class="filtro" id="mostrar-filtro">
                            <ul class="list-filter">
                                <div class="ocultar-close"><i onclick="showfiltro(), rotateflecha()" class="close fas fa-times"></i></div>
                                <li><a href="#">Placas de video</a></li>
                                <li><a href="#">Memorias Ram</a></li>
                                <li><a href="#">Monitores</a></li>
                                <li><a href="#">Coolers</a></li>
                                <li><a href="#">Fuentes</a></li>
                                <li><a href="#">Mothers</a></li>
                                <li><a href="#">Procesadores</a></li>
                                <li><a href="#">Discos Rigidos</a></li>
                                <li><a href="#">Mouses</a></li>
                                <li><a href="#">Teclados</a></li>
                                <li><a href="#">Auriculares</a></li>
                            </ul>
                        </div>

                    </div>
                </aside>

                <section class="container-productos">
                    <h4 class="titulares-productos">Mouses</h4>
                    <div class="container-all-articles">
                        <% productos.forEach(function(producto) {%>
                            <%- include('../partials/productItem', {id: producto.id, nombre: producto.nombre, precio: producto.precio, srcImg: producto.srcImg}) -%>
                                <% }) %>
                    </div>
                    <h4 class="titulares-productos">Monitores</h4>
                    <div class="container-all-articles">
                        <% productos.forEach(function(producto) {%>
                            <%- include('../partials/productItem', {id: producto.id, nombre: producto.nombre, precio: producto.precio, srcImg: producto.srcImg}) -%>
                                <% }) %>
                    </div>

                </section>

            </div>

        </main>

        <%- include('../partials/footer') -%>

</body>

</html>