<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/products/style-productDetail.css">
</head>

<body>
    <%- include('../partials/header')%>
        <main>

            <div class="product-img">
                <div class="container-images-product">
                    <article class="articulo">
                        <img src="\images\ram-muestra.jpg" alt="Imagen grande" class="img-grande">
                    </article>
                    <div class="display-lateral">
                        <img src="\images\ram-muestra.jpg" alt="Imagen chica" class="img-reducida">
                        <img src="\images\ram-muestra.jpg" alt="Imagen chica" class="img-reducida">
                        <img src="\images\ram-muestra.jpg" alt="Imagen chica" class="img-reducida">
                    </div>
                </div>
                <div class="todo">
                    <p class="titulo-producto">Memoria RAM DDR 8 GB HyperX FURY</p><br>
                    <div class="product-caract"><br>
                        <div class="texto">Memorias/DDR4/HyperX FURY</div><br>
                        <div class="texto">Hay Stock/Envió gratis/Garantía de 6 meses</div><br>
                        <div class="texto">$6.669/Hasta 6 Cuotas sin interes</div>
                        <div class="span">
                            <button type="submit" type="button" class="boton-comprar">Comprar</button>
                            <i class="fas fa-shopping-cart carrito"></i>

                        </div>
                    </div>
                </div>


            </div>





            <!-- Boton acordeon -->
            <div class="tab">
                <input id="tab-1" type="checkbox">
                <label for="tab-1">Caracteristicas Principales</label>
                <div class="tab-content">
                    <p>Capacidad: 8 GB</p>
                    <p>Velocidad: 1866 mhz</p>
                    <p>Tipo de memoria: DDR3</p>
                    <p>Cantidad De Memorias: 1</p>
                    <p>Latencia: 10 cl</p>
                    <p>Voltaje: 1.50</p>

                </div>
            </div>
        </main><br>

        <%- include('../partials/footer') %>
</body>

</html>