<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/products/style-productCreate.css">
        <script src="/js/productCrate.js"></script>
</head>

<body>

    <%- include('../partials/header')%>
        <main>
            <div class="container-formulario-creacion">

                <form id="frm" class="form" action="/products/create" method="POST" enctype="multipart/form-data">
                    <h4>Agregar producto:</h4>
                    <div>
                        <label for="name">Nombre:</label>
                        <input class="input" name="nombre" type="text" id="name" required>
                    </div><br>

                    <div>
                        <label for="categoria">Categoria:</label>
                        <select class="categorias" name="categoria" id="categoria" required>
                        <option class="categorias" value="Procesadores">Procesadores</option>
                        <option class="categorias" value="DiscosRigidos">Discos Rigidos</option>
                        <option class="categorias" value="Auriculares">Auriculares</option>
                        <option class="categorias" value="Mouses">Mouses</option>
                        <option class="categorias" value="Teclados">Teclados</option>
                        <option class="categorias" value="MemoriasRam">Memorias Ram</option>
                        <option class="categorias" value="Monitores">Monitores</option>
                        <option class="categorias" value="Coolers">Coolers</option>
                        <option class="categorias" value="Fuentes">Fuentes</option>
                        <option class="categorias" value="Mothers">Mothers</option>
                        <option class="categorias" value="PlacaVideo">Placa de video</option>
                    </select>
                    </div><br>



                    <div id="caracteristicas">
                        <input style="display: none;" type="number" name="cantidadInput" id="cantidadElementos" value="1">
                        <label for="caracteristica">Caracteristica: </label>
                        <label for="valor">Valor: </label>
                        <br>
                        <div>
                            <div>
                                <button onclick="agregarCampos()" type="button" id="btn-add"><i class="fas fa-plus"></i></button><br>
                            </div>
                            <div id="descripcion">
                                <div>
                                    <input class="input" name="caracteristica" id="caracteristica" placeholder="ej: color" required>
                                    <input class="input" name="valor" id="valor" placeholder="ej: rojo" required>
                                </div>

                            </div>

                        </div>



                        <div>
                            <label for="image">Imagen del producto: </label>
                            <input type="file" name="imagesProduct" required>


                            <div>
                                <div class="container-precio">
                                    <label for="precio">Precio: $</label>
                                    <input class="input" type="number" id="precio" name="precio" required>
                                </div>



                            </div>
                        </div>
                        <br>


                        <button class="boton" type="submit">Cargar producto</button>


                </form>
                </div>
        </main>


        <%- include('../partials/footer') %>
</body>

</html>