<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/products/style-productList.css">
    <script src="https://kit.fontawesome.com/fa2dfd92f3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap" rel=" stylesheet">
    <title>Gamer Cave</title>
    <link rel="icon" href="/images/logoGamerCave-icono.png">
</head>

<body>
    <%- include('../partials/header')%>

        <h1 style="margin-top: 120px;">contenido</h1>

        <%- include('../partials/footer') %>
</body>

</html>